body {
  background-color: #FFF;
}
header h1 {
  color: blue;
}

/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIm1haW4ubGVzcyIsIm1haW4uY3NzIl0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQUFBO0VBQ0MsdUJBQUE7Q0NDQTtBREdEO0VBRUUsWUFBQTtDQ0ZEIiwiZmlsZSI6Im1haW4uY3NzIiwic291cmNlc0NvbnRlbnQiOlsiYm9keSB7XHJcblx0YmFja2dyb3VuZC1jb2xvcjogI0ZGRjtcclxufVxyXG5cclxuXHJcbmhlYWRlciB7XHJcblx0aDEge1xyXG5cdFx0Y29sb3I6IGJsdWU7XHJcblx0fVxyXG59IiwiYm9keSB7XG4gIGJhY2tncm91bmQtY29sb3I6ICNGRkY7XG59XG5oZWFkZXIgaDEge1xuICBjb2xvcjogYmx1ZTtcbn1cbiJdfQ== */
