.block-header 
	+logo_big
	+navigation_main
	+navigation_small


//- .textarea.form-control(wrap='soft').
//- 		font-size:14px;
//- 		margin:50px auto;
//- 		display:block;
//- 		border-radius:10px;
//- 		border:6px solid #556677; 

//- .editable.form-control.
//- 		font-size:14px;
//- 		margin:50px auto;
//- 		display:block;
//- 		border-radius:10px;
//- 		border:6px solid #556677; 


//- textarea#txtarea(wrap='off').
	образец кода
