.container
		.row
			// Фотография ПОЛЬЗОВАТЕЛЯ
			.col-lg-3
				.user-photo.user-photo--shadow
					img(src="/img/04-UI-KIT/photo-big.jpg" alt="user-photo")

			// - Резюме
			.col-lg-9
				h1.header-title   Емельян Казаков
				
				p.main_text
					|Я веб разработчик из Казани. Мне 28 лет. 
					<br/>Занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
					<br/>
					|Этот сайт я сделал в рамках обучения в школе онлайн обучения WebCademy.
					<br/>Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
								
				h2.header-subtitle Что я умею

				p.main_text.
					Меня привлекет Frontend разработка, это не только моя работа, но и хобби.
					<br/>
					Также знаком и могу решать не сложные задачи на Backend.
					<br/>
					Знаком и использую современный workflow, работаю с репозиториями git и сборкой проекта на gulp.

				
			//- +btn('white', 'blue', 'Подробнее', '#')

			// - конец резюме

.line

// Портфолио
.container
	.block Новые работы
	.row
		.col-lg-4
			.block Работа 1
		.col-lg-4
			.block Работа 2
		.col-lg-4
			.block Работа 3

	.block Новые записи в блоге
	.row
		.col-lg-4
			.block Post Card 1
		.col-lg-4
			.block Post Card 2
		.col-lg-4
			.block Post Card 3






