.container
		.row
			// Фотография ПОЛЬЗОВАТЕЛЯ
			.col-lg-3
				.block
					|author_photo 

			// - Резюме
			.col-lg-9
				.block Резюме
				.block Button (Подробнее)
			// - конец резюме

.line

// Портфолио
.container
	.block Новые работы
	.row
		.col-lg-4
			.block Работа 1
		.col-lg-4
			.block Работа 2
		.col-lg-4
			.block Работа 3

	.block Новые записи в блоге
	.row
		.col-lg-4
			.block Post Card 1
		.col-lg-4
			.block Post Card 2
		.col-lg-4
			.block Post Card 3
