// ПОСТ В БЛОГЕ
.container
	.row
		.col-lg-10
			// Заголовок блога
			.block Национальный парк Йосемит
			// Описание
			.block Емельян Казаков Путешествия 16 Марта 2017
			// Image
			.block Image
			// Текст блога			
			.block  Текст блога
	.row
		.col-lg-2
			// Button Вперед
			.block Button Вперед
		.col-lg-2
			// Button Назад
			.block Button Назад
.line

			// КОММЕНТАРИИ
			.block Заголовок
			.block  Комментарий 1...2...3...	
