.container
	.row
		//- Фотография ПОЛЬЗОВАТЕЛЯ
		.col-lg-3
			+userphoto ()

		//- Резюме
		.col-lg-9
			h1.header-tit Горлов Кирилл

			p.main_text
				|Я веб разработчик из черногории. Мне 49+ лет.
				<br/>Занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
			p.main_text
				|Этот сайт я сделал в рамках обучения в школе онлайн обучения WebCademy.
				<br/>Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!

			h2.header-subtitle Что я умею

			p.main_text.
				Меня привлекет Frontend разработка, это не только моя работа, но и хобби.
				<br/>
				Также знаком и могу решать несложные задачи на Backend.
			p.main_text.
				Знаком и использую современный workflow, работаю с репозиториями git и сборкой проекта на gulp.
			br

.footer
	.block-footer.about

					.header-3.white Frontend
					.header-3.white Backtend
					.header-3.white Workflow

					.header-1.white Технологии
					p.main__text.white Которые использую в работе

					table.skill
						tbody
							tr
								td.skill.header-4 HTML5
								td.skill.header-4 CSS3
								td.skill.header-4 JS
								td.skill.header-4 jQuery
							tr
								td.skill.header-4 PHP
								td.skill.header-4 MySql
								td.skill.header-4
								td.skill.header-4
							tr
								td.skill.header-4 Git
								td.skill.header-4 Gulp
								td.skill.header-4 Bower
								td.skill.header-4 WebPack


.container
	.row
		.col-lg-3
		.col-lg-9
			h2.header-subtitle Опыт работы

			.blog-date(style={margin: '0 0 15px 0'}) февраль 2017 — по настоящее время

			.header-4(style={margin: '0 0 15px 0'}) Frontend разработчик, Вконтактe, mail.ru group

			p.main__text Работы в команде Вконтакте. Работал в команде над обновление сервиса Музыка, работа над видео разделом. Создание видеоплеера. Создание кроссбраузерных компонентов. Работа над оптимизацией скорости загрузки медиа контента.

			.blog-date(style={margin: '0 0 15px 0'}) сентябрь 2015 — январь 2017

			.header-4(style={margin: '0 0 15px 0'}) Разработчик интерфейсов, Яндекс

			p.main__text Работы в проекте Яндекс Музыка. Создание новых разделов сервиса. Оптимизация и создание новых компонентов платформы.

			.blog-date(style={margin: '0 0 15px 0'}) март 2013 — август 2015

			.header-4(style={margin: '0 0 15px 0'}) Веб-разработчик, Cloud studio

			p.main__text Frontend и Backend для клиентских проектов студии. Работа над студийной CMS для интернет магазинов. Участие в разработке CRM системы “Sky CRM”. Стек используемых технологий: Git, JS, Angular.








