.container
	.block Блог веб-разработчика
	.row
		.col-lg-4
			.block Работа 1
		.col-lg-4
			.block Работа 2
		.col-lg-4
			.block Работа 3
		.col-lg-4
			.block Post Card 1
		.col-lg-4
			.block Post Card 2
		.col-lg-4
			.block Post Card 3
