//- extends ./templates/_template.pug

//- block variables
//- 	- var title = 'Контакты'

//- block content
//- 	h1 Контактыыыыы

//- 	include ./blocks/_welcome.pug

//- 	+button("Кнопка 34", "google.com")
//- 	+button("Кнопка 2", "rambler.ru")