// -Вспомогательные элементы

.container
	.row
		.col-lg-12
			.row
				+check-remember-me()
				
				+bage()

				+userphoto ()

				+small_avatar()

			.row
				+block-error-1()
				br
				br
				+block-error-2()
				
			.row
				br
				.line
				
				+block-error-3()

				+block-error-4()


	


