block variables
	- var arrow_left = '<span><i class="fa fa-arrow-left" aria-hidden="true"></i></span>';

.container
	.row
		.elements-container
			h3 !{arrow_left} Назад 
			p ______________                                      
			h3 Вперед !{arrow_left}
			
		span
			i.fa.fa-arrow-left(aria-hidden='true')
			|
			i.fa.fa-arrow-right(aria-hidden='true')

.container
	.row
		.col-lg-12
			.elements-container
				+btn('blue', 'white', 'хранить', '#')
				
				+btn('white', 'blue', 'Отмена', '#')

				+btn('white', 'blue', 'Читать', '#')

				+btn_fa-arrow-left('white', 'blue', ' Назад', '#')

				+btn_fa-arrow-right('white', 'blue', 'Вперед ', '#')


				
			.elements-container
				+btn('orange', 'white', 'Редактировать', '#')

				+btn('orange', 'white', 'Добавить пост', '#')
				br/
				
			.elements-container
				+btn('red', 'white', 'Удалить', '#')
			
			.elements-container
				+btn('white-shdw', 'blue', 'Войти', '#')(class="btn--white-shdw--short")

				+btn('white-shdw', 'blue', 'Регистрация', '#')


	//- (class=`btn--${type}`) (class=`btn--${clr-txt}`)

