.container
	.row
		.elements-container
			.col-lg-3
				h1.header-1 Заголовок 1  28 / 800

				h2.header-2 Заголовок 2 26/800

				h3.header-3 Заголовок 3 24

				h4.header-4 Заголовок 4 20 
 
				h5.header-5 Заголовок 5 18

				h6.header-6 Заголовок 6 16

		
			.col-lg-9#a1

				// Текст - абзацы, ссылки в тексте 

				h4.header-4 Текст - абзацы, ссылки в тексте  font-size: 16px; line-height: 2;

				p.main__text.
					Парк находится в горах 
					<a class="button__link" href="blog.html">Сьерра-Невада</a> 
					на востоке штата Калифорния и занимает огромную даже для Америки площадь, около 3000 кв. км. 
				p.main__text.
					Центром парка является долина 
					<a class="button__link" href="blog.html">Йосемити</a>, круглый год переполненная туристами, зато в большей части парка никаких туристов нет. Если вы хотите погулять по территории парка, к вашим услугам огромная разветвлённая система троп, по которым проложены маршруты длительностью от получаса до нескольких дней. Ко всем этим прелестям бесплатно прилагаются животные и птицы. 

				// Оформление списка

				h4.header-4 Список
				ul.main__text--list
					li.main__text--list-line.
						Первый пункт
					li.main__text--list-line.
						Второй пункт. Если вы хотите погулять по территории парка, к вашим услугам огромная разветвлённая система троп, по которым проложены маршруты длительностью от получаса до нескольких дней. 
					li.main__text--list-line.
						Третий пункт