extends ./templates/_template.pug


block variables
	- var title = 'Обо мне'

block content

	include ./blocks/_header.pug

	include ./blocks/_main__about.pug

	.row_h80
	footer
		include ./blocks/_footer.pug





