extends ./templates/_template.pug

block variables
	- var title = 'Контакты'

block content

	include ./blocks/_header.pug

	include ./blocks/_contacts_data.pug



	footer
		include ./blocks/_footer.pug

