extends ./templates/_template.pug

block variables
    - var title = 'Контакты'

block content
    h1 Контакты

    include ./blocks/_welcome.pug

    +button("Кнопка 1", "google.com")
    +button("Кнопка 2", "rambler.ru")