extends ./templates/_template.pug

block variables
	- var title = 'Регистрация'

block content
	.login__header
		.login-top
		.block logo Супер Сайт

		- var url = 'registration.html';
		a(href='/' + url) Регистрация


	.login__form
		.container
		.row
		.col-lg-4
			.block Форма "Вход на сайт"
			.block.button button "Войти"

	include ./blocks/_login__footer.pug