extends ./templates/_template.pug

block variables
	- var title = 'UI KIT - БЛОКИ'

	include ./blocks/_header.pug

	include ./elements/__typography.pug
	
	include ./elements/__buttons.pug

	include ./elements/__auxiliary-elements.pug

