.btn {
	font-size: 16px;
	font-weight: 700;
	display: flex;
	box-sizing: border-box;
	margin: 5px 5px;
	padding: 10px 30px;

	border-radius: 22px;
	background-color: green;
	justify-content: center;
	align-items: center;
	align-self: center;
	
	&:hover {
			background-color: @hover;
		}

		&:active {
			color: @active;
		}
}

.btn--blue {
background: #037ec6;
}

.btn--white {
	border-width: 2px;
	border-style: solid;
	border-color: rgb(221, 232, 238);
	background-color: @white;
}

.btn--orange {
	background-color: #ffba00;
}

.btn--red
{
	font-size: 14px !important;
	padding: 8px 30px;
	background-color: #b51919;
}


.btn--white-shdw
{
	background-color: @white;
	box-shadow: 3px 5px 16px 0 rgba(23, 50, 66, .75);
    }

a.blue {
	text-decoration: none;
	color: @blue;
}

a.white
{
    text-decoration: none;
    color: @white;
}

