// .main__title {
//  font-size: 28px;
//  font-family: "Open Sans";
//  color: rgb(3, 126, 198);
//  line-height: 1.2;
//  text-align: left;
//  position: absolute;
//  }


.user-photo{ 
	overflow: hidden;
	height: 205px;
	width: 205px;
	margin-left: auto;
	margin-right: auto;
	top: 85px ;
	margin-bottom: 85px;
	-webkit-border-radius: 100px;
	border-radius: 100px;
	// подключение placeholder
	background-image: url("../img/placeholders/user-avatar-placeholder-big.jpg");
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	}

.user-photo--shadow {
	box-shadow: 0 0 40px 0 rgba(72, 119, 159, .1);

} 	


h1.header-title {
	font-size: 28px;
	font-weight: 800;
	color: @blue;
	line-height: 1.2;
	text-align: left;
	margin: 0 0 20 px;
}


p.main_text {
  font-size: 16px;
  color: @black;
  line-height: 1.5;
  text-align: left;
 
}


h2.header-subtitle  {
  font-size: 24px;
  font-family: "Open Sans";
  color: @black;
  line-height: 1.2;
  text-align: left;
 }
