// .main__title {
//  font-size: 28px;
//  font-family: "Open Sans";
//  color: rgb(3, 126, 198);
//  line-height: 1.2;
//  text-align: left;
//  position: absolute;
//  }

.about {
	height: 660px;
	padding: 60px 475px 80px 305px;
}





.line#main {
	margin: 80px 0;
}


td.skill  {
	color: @white;
}
