include ../blocks/_button.pug

block variables

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		title #{title}
		meta(content="" name="author")
		meta(content="" name="description")
		meta(content="" name="keywords")
		meta(content="width=device-width, initial-scale=1" name="viewport")
		meta(content="ie=edge" http-equiv="x-ua-compatible")

		//- favicon block start
		//- favicon block end
		
		<!-- build:vendorCss css/vendor.css -->
		link(rel='stylesheet' href='/bower/bootstrap-grid/dist/bootstrap-grid.min.css')
		<!-- endbuild -->

		<!-- build:userCss css/user.css -->
		link(rel='stylesheet' href='/css/main.css')
		<!-- endbuild -->

		<!--[if lt IE 9]>
		script(src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js")
		<![endif]-->

	body
		block content
		
		include ../blocks/_footer.pug


		<!-- build:vendorJs js/vendor.js -->
		script(src='/bower/jquery/dist/jquery.min.js' defer)
		<!-- endbuild -->

		<!-- build:userJs js/user.js -->
		script(src='/js/main.js' defer)
		<!-- endbuild -->

